*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: hsl(30, 38%, 92%);
    width: 1440px;
    position: absolute;
    top: 20%;
    left: 35%;

}

p{
    font-size: 14px;
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
}

#perfume-product{
    width: 360px;
    margin-right: 45px;
    height: 500px;
}
.container {
    display: flex;
    background-color: white;
    border: 2px solid black;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 650px;
    height: 500px;
}

.main-content {
    padding-right: 40px;
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
}

#name {
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    line-height: 1;
}

#detail {
    line-height: 1.7;
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;

}

.price {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
}

#previous-price {
    margin-top: 10px;
    text-decoration: line-through;
}

#cart-btn {
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: Montserrat;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px;
}

#cart-btn:hover {
    background-color: hsl(157, 38%, 19%);;
}


